@font-face {
    font-family: Strenuous;
    src: url("./assets/strenuous.ttf");
}
body {
    font-weight: 400;
    font-family: monospace;
}
header {
    position: relative;
    background-color: #ee9526;
    text-align: center;
    padding-top: 20px;
}
section {
    position: relative;
}
a{
    text-decoration: none;
}

.top {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    background: url("./assets/banner.jpg") no-repeat center;  
    background-size: cover;
}

.top h1 {
    font-weight: 500;
    color: #fff;
    font-size: 4.5rem;
    line-height: 1; 
    margin-top: 7rem;
    font-family: Strenuous;
}
.logo {  
    max-width: 250px;
}

.top p {
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.top p.select-note {
    font-size: 0.7rem;
    color: #fff;
}

.top .select-btn,
.mid .select-btn,
.bottom .select-btn {
    border: 0;
    line-height: 3;
    padding: 0 40px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.3rem;
    background-color: #b75c27;
    color: #fff3ec;
    font-family: Strenuous;
}
.select-btn:hover {
    color: #ffbbab;
}

.mid {
    min-height: 650px;
    background-color: #ee9526;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mid p {
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    color: #fff;
    max-width: 650px;
}

.mid h2 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    font-family: Strenuous;
}
.bottom {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom .feature {
    max-width: 320px;
}
.bottom p {
    border-top: 7px solid #facd00;
    padding-top: 15px;
    font-weight: 500;
    color: #000;
    font-size: large;
}
@media (max-width: 992px) {  
    .logo {
        max-width: 150px;
    } 
    .top h1 {
        font-size: 2.5rem;
        margin-top: 5rem;
    }
    .mid h2 {
        font-size: 2rem;
    }
    .mid p,
    .top p {
        font-size: 1.3rem;
    }
}
  